In [1]:
#importing libraries
import numpy as np   #version 1.21.5
import pandas as pd   #version  1.4.4

In [3]:
#loading dataset
dataset=pd.read_csv(r'E:\Python\50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [4]:
#assingning values to x and y
X=dataset.iloc[:,0:2].values
y=dataset.iloc[:,-1].values

In [5]:
#diving the dataset into training and testing data
from sklearn.model_selection import train_test_split     #version 0.0.post1
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [6]:
#importing linear regression method 
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
y_predict=regressor.predict(X_test)

In [7]:
#Mean Absolute Error
from sklearn import metrics
print(metrics.mean_absolute_error(y_test,y_predict))

6738.115908022101

In [8]:
#Mean Squared Error
print(metrics.mean_squared_error(y_test,y_predict))

67857068.45576176

In [9]:
#Root Mean Squared Error
print(np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

8237.540194485351